.addFood-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url("https://vsegda-pomnim.com/uploads/posts/2022-04/1649125026_83-vsegda-pomnim-com-p-priroda-kirgizii-foto-88.jpg");
  background-size: cover;
  width: 100%;
  height: 140vh;
}
#inpCont {
  margin-top: 80px;
  width: 50%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.388);
}
#inpCont h1 {
  font-size: 36px;
  margin-top: 6px;
}
.addFood-container input {
  width: 60%;
  height: 40px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 40px;
  font-size: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  outline: none;
  color: white;
}
.addFood-container input::placeholder {
  color: white;
}
.addFood-container select {
  width: 60%;
  height: 40px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 40px;
  font-size: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
  outline: none;
  /* color: #fff;  */
}
.addFood-container button {
  width: 30%;
  height: 50px;
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid #fff;
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}
.addFood-container button:hover {
  cursor: pointer;
  background-color: #4d4138;
  align-items: center;
}
#fileInp::file-selector-button {
  background-color: transparent;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
}
