* {
  font-size: 1rem;
  font-family: "Inter";
}

h2 {
  font-size: 3em;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
.authBox {
  background-image: url("../../assets/image/authBgF.jpg");
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
}
.cont {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cont input {
  border: 2px solid #435558;
  width: 50%;
  text-align: center;
  height: 5%;
  border-radius: 50px;
  margin-bottom: 2%;
}
.cont button {
  width: 20%;
  height: 5%;
  border-radius: 50px;
  background-color: transparent;
  color: #fff;
  border: 2px solid white;
}
.cont button:hover {
  background-color: #fff;
  color: #435558;
  transition: 0.3s;
}
.cont p{
  color: #fff;
  font-size: 0,5em;
  margin-top: 10px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .cont {
    width: 80%;
  }

  .cont input {
    width: 80%;
  }

  .cont button {
    width: 30%;
  }
}

@media (max-width: 480px) {
  .cont {
    width: 90%;
  }

  .cont input {
    width: 80%;
  }

  .cont button {
    width: 40%;
  }
}
