.authBox {
    background-image: url("https://mobimg.b-cdn.net/v3/fetch/9e/9e205f360aa74682517af8a5e5eadfa6.jpeg");
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
  }
  .cont {
    /* color:white; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  